body,
html {
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  /* The image used */
  background-image: url('assets/nyc.jpg');

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.content {
  align-self: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.33);
  background-color: rgba(0, 0, 0, 0.75);
  margin: 20px;
  text-align: center;
  min-height: 300px;
}

.header-text {
  font-family: Verdana, sans-serif;
  font-size: 28px;
  color: #ffffff;
}

.secondary-text {
  font-family: Verdana, sans-serif;
  font-size: 14px;
  color: #ffffff;
}
